.banner {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: rgba(45, 62, 80, 255);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding-left: 15px;
  /* background-image: url('/banner-background.png'); */
}

.sdcslogo {
  --image-size: 25px;
  width: var(--image-size);
  height: var(--image-size);
  padding-right: 13px;

}

.banner .links {
  position: absolute;
  right: 12px;
  top: 12px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.banner .links a {
  color: white;
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
}
