body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.airportMarker {
  margin-left: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.airportMarker .name {
  text-align: center;
  margin-top: -2px;
  font-family: 'Arial';
  color: rgb(31, 31, 31);
  font-size: 10px;
  text-transform: capitalize;
}

.airportMarker .icon {
  height: 15px;
  width: 15px
}

.stats-container {
  background-color: white;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px;
  height: 300px;
  z-index: 10000;
}

.stats-container.stats {
  padding-left: 10px;
}

.groundUnit {
  width: 4px;
  height: 7px;
  border: 1px solid black;
  background-color: rgb(50, 135, 239);
}
