body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.airportMarker {
  margin-left: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.airportMarker .name {
  text-align: center;
  margin-top: -2px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(248, 248, 248);
  font-size: 10px;
  text-transform: capitalize;
}

.airportMarker .icon {
  height: 15px;
  width: 15px
}

.stats-container {
  background-color: white;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px;
  height: 300px;
  z-index: 10000;
}

.stats-container.stats {
  padding-left: 10px;
}

.groundUnitIcon {
  position: relative;
  width: 10px;
  height: 3px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgb(50, 135, 239);
}

.zoneNameIcon {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  opacity: 0.2;
  color: aliceblue;
}

/* Leaftlet popup */
.leaflet-popup-content-wrapper {
  background: #2c3e50;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  border-radius: 5px;
}

.leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.1);
}

.leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.leaflet-popup-tip {
    background: #2c3e50;
  /* background: transparent;
  border: none;
  box-shadow: none; */
}
