.infoPanelContainer {
  position: absolute;
  background-color: rgba(45, 62, 80, 255);
  bottom: 10px;
  right: 10px;
  min-width: 200px;
  width: 250px;
  min-height: 500px;
  z-index: 10000;

  padding-left: 25px;
  padding-right: 25px;

  font-family: 'Courier New', Courier, monospace;
  box-shadow: #4d4d4d 0px 0px 3px 0px;
  color:#b8bec6;
}


.infoPanelContainer .content {
  font-weight: 500;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.infoPanelContainer h1 {
  padding-bottom: 1px;
  margin: 0px;
  margin-top: 15px;
}

.infoPanelContainer .subheader {
  padding-top: 2px;
}

.infoPanelContainer h3 {
  padding-bottom: 1px;
  margin: 0px;
  margin-top: 15px;
}

.infoPanelContainer ul {
  font-size: 12px;
  list-style: square;
  margin: 0px;
  padding: 0px;
  padding-left:20px;
}

.infoPanelContainer li {
  padding-top: 3px;
}
